.card2 {
    margin: 150px 330px;
    width: 1200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.photoizagl {
    display:flex;
    justify-content: flex-start;
}

.text21 {
    font-size:30px;
    padding-left: 20px;
}

.text22 {
    font-size: 20px;
    padding: 7px 0 0 370px;
}

.star2 {
    display: flex;
    width: 20px;
    height: 20px;
    padding-left: 392px;
    justify-content: left;
    margin-bottom: 30px;
}

.text24 {
    padding-top: 10px;
    text-align: center;
    background-color: red;
    color: white;
    font-size: 25px;
    height: 40px;
    width: 240px;
    margin: 180px 0 0 240px;
    border-radius: 40px;
}