.bg{
    background-color: #396670;
    width:1903px;
    height:300px;
    color: white;
    font-size: 40px;
    display:flex;
    justify-content: space-between;
}

.o{
    padding-top: 40px;
    padding-left: 20px;
    line-height: 0;
}

.sots{
    padding-top: 90px;
    padding-left: 15px;
}

.mail{
    font-size: 20px;
    line-height: 0px;
    text-align: center;
}

.cont{
    padding-right: 860px;
}