.top{
    font-size: 68px;
    line-height: 0px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.top2{
    font-size: 68px;
    line-height: 0px;
    display: flex;
    justify-content: center;
}
