.zg{
    font-size: 90px;
    text-align: center;
}

.minzg{
    text-align: center;
    font-size: 40px;
    line-height: 0px;
}

.pole{
    margin: 0px;
}

.str{
    display: flex;
    justify-content: flex-start;
    width: 700px;
    height: 110px;
    font-size: 30px;
    background-color:  #E8F0F2;
    border: none;
    border-radius: 15px;
    margin-top: 150px;
}

.reg{
    display: flex;
    justify-content: flex-start;
    width: 700px;
    height: 110px;
    font-size: 30px;
    background-color:  #E8F0F2;
    border: none;
    border-radius: 15px;
    margin-top: 35px;  
}

.ots{
    display: flex;
    justify-content: flex-start;
    width: 700px;
    height: 110px;
    font-size: 30px;
    background-color:  #E8F0F2;
    border: none;
    border-radius: 15px;
    margin-top: 35px;
}

.allzg{
    display: flex;
    justify-content: space-between;
}

.podbor{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin-top: 80px;
    background-color: red;
    width:320px;
    height: 70px;
    margin-left: 190px;
    color:white;
    border-radius: 20px;
    border: none;
}

